<section class="objects-table-container table-container">
    <table class="objects-table">
        <thead>
            <tr>
                {% for header in addresses.headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="addresses-table">
            {% for row in addresses.rows %}
            {% include "partials/objects/_tableRow.html" with row=row headers=addresses.headers %}
            {% empty %}
            <tr>
                <td colspan="{{ addresses.headers|length }}">No addresses found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>