{% for cell in row.cells %}
<td class="{% if forloop.first %}first-column-cell{% if object_type == 'filters' %} inspect-column{% endif %}{% endif %} col-{{ forloop.counter }}">
    {% if forloop.last %}
        {% if object_type == "addresses" or object_type == "services" or object_type == "devices" or object_type == "filters" %}
            <div class="tag-list-container">
                {% for item in cell %}
                    {% if item %}
                        <span class="cell-text tag-item" style="--tag-color: {{ item.color }};" title="{{ item.name }}">
                            {{ item.name }}
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <span class="cell-text" title="{{ cell }}">{{ cell }}</span>
        {% endif %}
    {% else %}
        <span class="cell-text" title="{{ cell }}">{{ cell }}</span>
    {% endif %}
</td>
{% endfor %}