<tr id="row-{{ row.id }}" class="main-row" onclick="expandRow('{{ row.id }}')" hx-get="{% url 'modal-update' row.id %}"
    hx-trigger="dblclick" hx-target="#modal-container" hx-swap="innerHTML">

    {% include "partials/objects/_lastCellTags.html" with cell=cell is_last=forloop.last object_type=object_type %}

</tr>
<tr id="details-{{ row.id }}" class="details-row">
    {% include "partials/objects/_expandRow.html" with row=row %}
</tr>


<script>
    function expandRow(rowId) {
        const detailsRow = document.getElementById(`details-${rowId}`);
        const openedRow = document.getElementById(`row-${rowId}`);


        if (detailsRow.style.display === "table-row") {
            detailsRow.style.display = "none";
            openedRow.classList.remove("expanded-row");
        } else {
            detailsRow.style.display = "table-row";
            openedRow.classList.add("expanded-row");
        }
    }

    function focusAndExpandFromUrl() {
        const params = new URLSearchParams(window.location.search);
        const rowId = params.get("expand_id"); //get expand id
        if (!rowId) return;

        let attempts = 0;
        const maxAttempts = 30;

        const interval = setInterval(function () {
            const row = document.getElementById(`row-${rowId}`); //get row
            const detailsRow = document.getElementById(`details-${rowId}`); //get detail row

            if (row && detailsRow) { //if both exists
                if (window.getComputedStyle(detailsRow).display !== "table-row") { //if not currently visible
                    expandRow(rowId); //expand
                }

                setTimeout(function () {
                    row.scrollIntoView({ //scroll to the row
                        behavior: "smooth",
                        block: "center"
                    });
                }, 200); // waits 200ms, than scroll row into view

                clearInterval(interval); //stop when found

                window.history.replaceState({}, "", window.location.pathname); //clean URL to pathname
            }

            attempts++;
            if (attempts >= maxAttempts) {
                clearInterval(interval);
            }
        }, 200);
    }

    document.addEventListener("DOMContentLoaded", focusAndExpandFromUrl);
    document.body.addEventListener("htmx:afterSwap", focusAndExpandFromUrl);
    document.body.addEventListener("htmx:afterSettle", focusAndExpandFromUrl);
</script>