<tr id="row-{{ row.id }}" class="main-row" onclick="expandRow('{{ row.id }}')"
    ondblclick="openUpdateModal('{{ row.id }}')">

    {% include "partials/objects/_lastCellTags.html" with cell=cell is_last=forloop.last object_type=object_type %}

</tr>
<tr id="details-{{ row.id }}" class="details-row">
    {% include "partials/objects/_expandRow.html" with row=row %}
</tr>


<script>
    function expandRow(rowId) {
        const detailsRow = document.getElementById(`details-${rowId}`);
        const openedRow = document.getElementById(`row-${rowId}`);


        if (detailsRow.style.display === "table-row") {
            detailsRow.style.display = "none";
            openedRow.classList.remove("expanded-row");
        } else {
            detailsRow.style.display = "table-row";
            openedRow.classList.add("expanded-row");
        }
    }
</script>