<section class="objects-table-container table-container">
    <table class="objects-table rules-table">
        <thead>
            <tr>
                {% for header in rules.headers %}
                <th class="col-{{ forloop.counter }}">{{ header }}</th>
                {% endfor %}
                <th class="actions-column"></th>
            </tr>
        </thead>
         <tbody id="rules-table"
             data-reorder-url="{% url 'reorder-rule-view' %}"
             data-content-url="{% url 'rules-content' %}"
             data-filter-id="{{ current_filter_id|default:'' }}">
            {% for row in rules.rows %}
            {% include "partials/objects/_tableRow.html" with row=row headers=rules.headers %}
            {% empty %}
            <tr>
                <td colspan="{{ rules.headers|length }}">No rules found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>