<section class="table-container">
    <table>
        <thead>
            <tr>
                {% for header in table_data.headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="tenants-table">
            {% for row in table_data.rows %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.members }}</td>
                <td>{{ row.member_count }}</td>
                <td>Actions</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="{{ table_data.headers|length }}">No tenants found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>