{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rulio</title>

    <!-- Loads the local htmx library from the frontend static/js folder -->
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% block extra_css %}{% endblock %}
</head>

<body>
    {% include "partials/_header.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>