{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tools.css' %}" />
{% endblock %}

{% block content %}
{% include "partials/_tools.html" %}

<div id="{{ content_target }}">
    {% include "partials/_objects_content.html" %}
</div>


<script>
    function setActiveTool(clickedButton) {
        const buttons = document.querySelectorAll(".btn-toggle");

        buttons.forEach(function (button) {
            button.classList.remove("active");
        });

        clickedButton.classList.add("active");
    }
</script>
{% endblock %}