<section class="objects-table-container table-container">
    <table class="objects-table objects-table--devices">
        <thead>
            <tr>
                {% for header in devices.headers %}
                <th class="col-{{ forloop.counter }}">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="devices-table">
            {% for row in devices.rows %}
            {% include "partials/objects/_tableRow.html" with row=row headers=devices.headers %}
            {% empty %}
            <tr>
                <td colspan="{{ devices.headers|length }}">No devices found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

