<div class="detail-block">

    <div class="objects-interface-table">
        <div class="objects-interface-table-header-row">
            {% for header in field.headers %}
            <div class="interfaces-grid__header">
                {{ header }}
            </div>
            {% endfor %}
        </div>

        {% for interface_row in field.value %}
        <div class="objects-interface-table-row">
            {% for interface_value in interface_row %}
            <div class="objects-interface-table-cell">
                {{ interface_value }}
            </div>
            {% endfor %}
        </div>
        {% empty %}
        <div class="objects-interface-empty">
            No interfaces found.
        </div>
        {% endfor %}
    </div>
</div>