{% load static %}
<div class="interface-actions">
    <button
        class="btn-generate generate-config-btn"
        type="button"
        data-interface-id="{{ interface.id }}"
        aria-label="Generate ACL for {{ interface.name }}"
    >
        Generate ACL
        <img class="btn-icon" src="{% static 'images/plus.svg' %}" alt="" aria-hidden="true">
    </button>

    {% if can_write_current_tenant or request.user.is_superuser %}
    <button
        type="button"
        class="btn btn-save interface-save-btn"
        data-interface-id="{{ interface.id }}"
        data-save-url="{% url 'post-interface-view' %}"
        onclick="saveInterfaceFilterChanges(this)"
        aria-label="Save filter changes for {{ interface.name }}"
    >
        Save Changes
    </button>
    {% endif %}
</div>
