<section class="table-container">
    <table>
        <thead>
            <tr>
                <th>Adress Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Address Group</th>
                <th>Referenced To</th>
                <th>Addresses</th>
                <th>Tags</th>


            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ntnu-dns-1</td>
                <td>Primary DNS server</td>
                <td>host</td>
                <td>ntnu-dns-1</td>
                <td>Allow DNS</td>
                <td>ntnu-trd-core-r1</td>
                <td>admin</td>
            </tr>

            <tr>
                <td>ntnu-dns-1</td>
                <td>Primary DNS server</td>
                <td>host</td>
                <td>ntnu-dns-1</td>
                <td>Allow DNS</td>
                <td>ntnu-trd-core-r1</td>
                <td>admin</td>
            </tr>
        </tbody>
    </table>
    <section class="add-btn-container">
        <button class="add-btn">Add Address + </button>
    </section>

</section>