{% load static %}

<header class="site-header" aria-label="Site header">
    <div class="header-content">
        <div class="header-navigation">
            <img class="site-logo" aria-label="Site logo" src="{% static 'images/rulio.svg' %}" alt="Rulio logo" />

            <nav class="main-nav" aria-label="Main navigation">
                <ul class="nav-list">
                    <li>
                        <a href="{% url 'devices' %}" class="{% if active_page == 'devices' %}active{% endif %}">
                            Devices
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'filters' %}" class="{% if active_page == 'filters' %}active{% endif %}">
                            Filters
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'objects' %}" class="{% if active_page == 'objects' %}active{% endif %}">
                            Objects
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'tags' %}" class="{% if active_page == 'tags' %}active{% endif %}">
                            Tags
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="header-actions">

            {% include "partials/search/_search.html" with search_results=search_results %}

            <div class="form-group tenant-form-group">
                <label for="tenant" class="tenant-label">Tenant</label>

                <!-- When this form is triggered, send a POST request to the Django URL named set-tenant. After the HTMX request finishes, reload the page. -->
                <form hx-post="{% url 'set-tenant' %}" hx-trigger="change from:#tenant" hx-swap="none"
                    hx-on::after-request="window.location.reload()">
                    {% csrf_token %}
                    <select name="tenant_id" id="tenant" class="tenant-select">
                        {% for tenant in tenants %}
                        {% if selected_tenant|stringformat:'s' == tenant.id|stringformat:'s' %}
                        <option value="{{ tenant.id }}" selected>{{ tenant.name }}</option>
                        {% else %}
                        <option value="{{ tenant.id }}">{{ tenant.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </form>
            </div>
            <input type="hidden" id="current-tenant-id" name="tenant_id" value="{{ selected_tenant }}">

            <div class="user-menu">
                <button type="button" class="user-menu-trigger" onclick="toggleUserMenu(event)">
                    {% if request.user.first_name and request.user.last_name %}
                    {{ request.user.first_name|slice:":1"|upper }}{{ request.user.last_name|slice:":1"|upper }}
                    {% elif request.user.first_name %}
                    {{ request.user.first_name|slice:":1"|upper }}
                    {% else %}
                    {{ request.user.username|slice:":1"|upper }}
                    {% endif %}
                </button>

                <div id="user-menu-dropdown" class="user-menu-dropdown hidden">
                    <div class="user-menu-info">
                        <p><strong>{{ request.user.username }}</strong></p>

                        {% if request.user.first_name and request.user.last_name %}
                        <p>{{ request.user.first_name}} {{ request.user.last_name}}</p>
                        {% else %}
                        <p>{{ request.user.email}}</p>
                        {% endif %}
                    </div>

                    {% if request.user.is_superuser %}
                    <a href="{% url 'management-page' %}" class="user-menu-btn management-menu-settings">
                        <img class="btn-icon" src="{% static 'images/user.svg' %}" alt="" aria-hidden="true">
                        Management
                    </a>
                    {% endif %}

                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="user-menu-btn user-menu-logout">
                            <img class="btn-icon" src="{% static 'images/signout.svg' %}" alt="" aria-hidden="true">
                            Log out
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<hr>