{% load static %}

<header class="site-header" aria-label="Site header">
    <div class="header-content">
        <div class="header-navigation">
            <img class="site-logo" aria-label="Site logo" src="{% static 'images/rulio.svg' %}" alt="Rulio logo" />

            <nav class="main-nav" aria-label="Main navigation">
                <ul class="nav-list">
                    <li>
                        <a href="{% url 'devices' %}" class="{% if active_page == 'devices' %}active{% endif %}">
                            Devices
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'filters' %}" class="{% if active_page == 'filters' %}active{% endif %}">
                            Filters
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'objects' %}" class="{% if active_page == 'objects' %}active{% endif %}">
                            Objects
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'tags' %}" class="{% if active_page == 'tags' %}active{% endif %}">
                            Tags
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="header-actions">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Log out</button>
            </form>

            <input class="form-control" type="search" name="search" placeholder="Search...">

            <div class="form-group tenant-form-group">
                <label for="tenant" class="tenant-label">Tenant</label>

                <!-- When this form is triggered, send a POST request to the Django URL named set-tenant. After the HTMX request finishes, reload the page. -->
                <form hx-get="/api/set_tenant" hx-trigger="change from:#tenant" hx-swap="none"
                    hx-on::after-request="window.location.reload()">
                    <select name="tenant_id" id="tenant" class="tenant-select">
                        {% for tenant in tenants %}
                        {% if selected_tenant|stringformat:'s' == tenant.id|stringformat:'s' %}
                        <option value="{{ tenant.id }}" selected>{{ tenant.name }}</option>
                        {% else %}
                        <option value="{{ tenant.id }}">{{ tenant.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </form>
            </div>
            <input type="hidden" id="current-tenant-id" name="tenant_id" value="{{ selected_tenant }}">
        </div>
    </div>
</header>

<hr>