<div class="modal-backdrop" onclick="closeModal(event)">
    <div class="modal" onclick="event.stopPropagation()">
        <form>
            <div class="modal-header">
                <h2>{{ modal_title }}</h2>
            </div>

            <div id="modal-variant-content">
                {% include "partials/modals/_variant_content.html" %}
            </div>
            <hr>

            <div class="modal-actions">
                <button class="btn btn-cancel" type="button"
                    onclick="document.getElementById('modal-container').innerHTML = ''">
                    Cancel
                </button>

                <button class="btn btn-save" type="submit">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    function closeModal(event) {
        document.getElementById('modal-container').innerHTML = '';
    }
</script>