<div class="page-content">
    <div class="page-content-header">
        <h1>{{ title }}</h1>
        {% include "partials/_tools.html" %}
    </div>

    {% if title == "Devices" %}
    No devices to display.

    {% elif title == "Filters" %}
    No filters to display.

    <!--Insert table here, with type of table depending on the title (i.e. title == "Addresses" -> address table, title == "Services" -> service table)-->
    {% elif title == "Addresses" %}
    {% include "partials/objects/_addressesTable.html" %}
    {% elif title == "Services" %}
    {% include "partials/objects/_servicesTable.html" %}

    {% elif title == "Tags" %}
    {% include "partials/tags/_tagsTable.html" %}

    {% elif title == "User management" %}
    <p>User</p>
    {% elif title == "Tenant management" %}
    <p>Tenant</p>
    {% else %}
    <p>No content available.</p>
    {% endif %}
</div>