{% load static %}

<div class="tools-container">
    {% if show_toggle %}
    <div class="tools-toggle">
        <button class="btn-toggle {% if active_toggle == 'all' %}active{% endif %}" type="button"
            hx-get="{{ show_all_url }}" hx-target="#{{ content_target }}" hx-swap="innerHTML"
            onclick="setActiveTool(this)">
            Show All

        </button>

        <button class="btn-toggle {% if active_toggle == 'global' %}active{% endif %}" type="button"
            hx-get="{{ global_url }}" hx-target="#{{ content_target }}" hx-swap="innerHTML"
            onclick="setActiveTool(this)">
            Global
        </button>

        <button class="btn-toggle {% if active_toggle == 'local' %}active{% endif %}" type="button"
            hx-get="{{ local_url }}" hx-target="#{{ content_target }}" hx-swap="innerHTML"
            onclick="setActiveTool(this)">
            Local
        </button>
    </div>
    {% endif %}

    <button class="btn-add" type="button">
        {{ btn_title }}
        <img class="btn-icon" src="{% static 'images/plus.svg' %}" alt="" aria-hidden="true">
    </button>
</div>