<hr>

<!-- List all addresses  as a dual list selection with drag and drop -->
<div class="modal-header">
    <h2 class="membership-header">Addresses</h2>
</div>

<p class="form-help">Choose any addresses you want to add to this address group.</p>

<div class="membership-selector" data-input-name="address_ids">
    <div class="membership-column">
        <div class="membership-list membership-list-available" data-list-type="available">
            {% for address in item_options %}
            {% if address.id not in selected_address_ids %}
            <div class="membership-list-item" draggable="true" data-id="{{ address.id }}">
                {{ address.name }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="membership-column">
        <div class="membership-list membership-list-selected" data-list-type="selected">
            {% for address in item_options %}
            {% if address.id in selected_address_ids %}
            <div class="membership-list-item" draggable="true" data-id="{{ address.id }}">
                {{ address.name }}
                <input type="hidden" name="address_ids" value="{{ address.id }}">
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>