<p class="form-help">At least one of IPv4 or IPv6 is required.<span class="required"> *</span></p>

<input type="hidden" name="ipv4_type" id="ipv4_type">
<input type="hidden" name="ipv6_type" id="ipv6_type">

<!-- TODO: Add fields for ipv4/ipv6 type, as well as range. Then prepareAddressForm() in app.js can be refactored.  -->

<div class="form-row">
    <div class="form-group">
        <label for="ipv4Network">Ipv4</label>
        <input id="ipv4Network" name="ipv4Network" type="text">
    </div>

    <div class="form-group">
        <label for="ipv6Network">Ipv6</label>
        <input id="ipv6Network" name="ipv6Network" type="text">
    </div>
</div>

<p class="form-help">Add address to address group.</p>

<!-- TODO: Add a selection where the user can add an address to an address group using api/add_address_to_group -->