<div class="form-group">
    <label for="type">Type</label>
    <input id="type" name="type_display" type="text" value="Address Group" disabled>
</div>

<hr>

<!-- List all addresses  as a checkbox dropdown -->
<div class="modal-header">
    <h2 class="checkbox-header">Addresses</h2>
</div>

<p class="form-help">Choose any addresses you want to add to this address group.</p>

<div class="group-checkbox-list">
    {% for address in item_options %}
    <label class="checkbox-label">
        {% if address.id in selected_address_ids %}
        <input type="checkbox" name="address_ids" value="{{ address.id }}" checked>
        {% else %}
        <input type="checkbox" name="address_ids" value="{{ address.id }}">
        {% endif %}
        <span>{{ address.name }}</span>
    </label>
    {% empty %}
    <p>No addresses available.</p>
    {% endfor %}
</div>