{% if modal_post_url %}
{% if modal_submit_handler %}
<form hx-post="{{ modal_post_url }}" hx-target="{{ modal_target }}" hx-swap="{{ modal_swap }}"
    onsubmit="{{ modal_submit_handler }}(event)"
    hx-on::after-request="if(event.detail.successful && event.detail.elt === this) closeModalAndRefresh('{{ modal_refresh_url }}')">
    {% else %}
    <form hx-post="{{ modal_post_url }}" hx-target="{{ modal_target }}" hx-swap="{{ modal_swap }}"
        hx-on::after-request="if(event.detail.successful && event.detail.elt === this) closeModalAndRefresh('{{ modal_refresh_url }}')">
        {% endif %}
        {% else %}
        <form>
            {% endif %}
            {% csrf_token %}

            {% include "partials/modals/_type_content.html" %}

            <hr>

            <div class="modal-actions">
                <button class="btn btn-cancel" type="button" onclick="closeModal(event)">
                    Cancel
                </button>

                <button class="btn btn-save" type="submit">
                    Submit
                </button>
            </div>
        </form>