<p class="form-help">
    Choose {{ object_kind }} for this rule's {{ selector_type|cut:"_" }} selector.
</p>

<div class="membership-selector"
     data-selector-type="{{ selector_type }}">

    <div class="membership-column">
        <h4>Available</h4>

        <div class="membership-list membership-list-available"
             data-list-type="available">

            {% for group in group_options %}
                {% if group.selector_id not in selected_object_ids %}
                    <div class="membership-list-item"
                         draggable="true"
                         data-id="{{ group.selector_id }}"
                         data-name="{{ group.name }}">
                        {{ group.name }}
                    </div>
                {% endif %}
            {% endfor %}

            {% for item in item_options %}
                {% if item.selector_id not in selected_object_ids %}
                    <div class="membership-list-item"
                         draggable="true"
                         data-id="{{ item.selector_id }}"
                         data-name="{{ item.name }}">
                        {{ item.name }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="membership-column">
        <h4>Selected</h4>

        <div class="membership-list membership-list-selected"
             data-list-type="selected">

            {% for group in group_options %}
                {% if group.selector_id in selected_object_ids %}
                    <div class="membership-list-item"
                         draggable="true"
                         data-id="{{ group.selector_id }}"
                         data-name="{{ group.name }}">
                        {{ group.name }}

                        <input type="hidden"
                               name="selected_ids"
                               value="{{ group.selector_id }}">
                    </div>
                {% endif %}
            {% endfor %}

            {% for item in item_options %}
                {% if item.selector_id in selected_object_ids %}
                    <div class="membership-list-item"
                         draggable="true"
                         data-id="{{ item.selector_id }}"
                         data-name="{{ item.name }}">
                        {{ item.name }}

                        <input type="hidden"
                               name="selected_ids"
                               value="{{ item.selector_id }}">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>