<p class="form-help">Choose any addresses you want to add to this rule {{ selector_type }}.</p>

<div class="membership-selector" data-input-name="address_ids">
    <div class="membership-column">
        <div class="membership-list membership-list-available" data-list-type="available">
            {% for addressGroup in group_options %}
            {% if addressGroup.selector_id not in selected_object_ids %}
            <div class="membership-list-item" draggable="true" data-id="{{ addressGroup.selector_id }}">
                {{ addressGroup.name }}
            </div>
            {% endif %}
            {% endfor %}

            {% for address in item_options %}
            {% if address.selector_id not in selected_object_ids %}
            <div class="membership-list-item" draggable="true" data-id="{{ address.selector_id }}">
                {{ address.name }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="membership-column">
        <div class="membership-list membership-list-selected" data-list-type="selected">
            {% for addressGroup in group_options %}
            {% if addressGroup.selector_id in selected_object_ids %}
            <div class="membership-list-item" draggable="true" data-id="{{ addressGroup.selector_id }}">
                {{ addressGroup.name }}
                <input type="hidden" name="address_ids" value="{{ addressGroup.selector_id }}">
            </div>
            {% endif %}
            {% endfor %}

            {% for address in item_options %}
            {% if address.selector_id in selected_object_ids %}
            <div class="membership-list-item" draggable="true" data-id="{{ address.selector_id }}">
                {{ address.name }}
                <input type="hidden" name="address_ids" value="{{ address.selector_id }}">
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>