<hr>

<!-- List all services  as a checkbox dropdown -->
<div class="modal-header">
    <h2 class="checkbox-header">Services</h2>
</div>

<p class="form-help">Choose any services you want to add to this service group.</p>

<div class="group-checkbox-list">
    {% for service in item_options %}
    <label class="checkbox-label">
        {% if service.id in selected_service_ids %}
        <input type="checkbox" name="service_ids" value="{{ service.id }}" checked>
        {% else %}
        <input type="checkbox" name="service_ids" value="{{ service.id }}">
        {% endif %}
        <span>{{ service.name }}</span>
    </label>
    {% empty %}
    <p>No services available.</p>
    {% endfor %}
</div>